config:
  update_notify: true
  data_save_time: 5
  silent_commands_hide_errors: false
  mysql_database:
    enabled: false
    host: localhost
    port: 3306
    username: root
    password: root
    database: servervariables
    pool:
      connectionTimeout: 5000
    advanced:
      verifyServerCertificate: false
      useSSL: true
      allowPublicKeyRetrieval: true

messages:
  prefix: "&8[&a&lServerVariables&8] "
  commandSetError: "&cYou need to use: &7/svar set <variable> <value> (optional)<player> (optional)silent:true"
  commandGetError: "&cYou need to use: &7/svar get <variable> (optional)<player> (optional)silent:true"
  commandAddError: "&cYou need to use: &7/svar add <variable> <value> (optional)<player> (optional)silent:true"
  commandReduceError: "&cYou need to use: &7/svar reduce <variable> <value> (optional)<player> (optional)silent:true"
  commandResetError: "&cYou need to use: &7/svar reset <variable> (optional)<player> (optional)silent:true"
  variableDoesNotExists: "&cThat variable doesn't exists."
  variableInvalidValue: "&cThat variable only supports &7%value_type% &ctypes."
  variableNotPossibleValue: "&cThat variable has these possible values: &7%values%"
  variableSetInvalidTypePlayer: "&cYou can't set a &7PLAYER &cvariable to the server."
  variableSetInvalidTypeGlobal: "&cYou can't set a &7GLOBAL &cvariable to a player."
  variableGetInvalidTypePlayer: "&cYou can't get a &7PLAYER &cvariable from the server."
  variableGetInvalidTypeGlobal: "&cYou can't get a &7GLOBAL &cvariable from a player."
  variableResetInvalidTypePlayer: "&cYou can't reset a &7PLAYER &cvariable from the server."
  variableResetInvalidTypeGlobal: "&cYou can't reset a &7GLOBAL &cvariable from a player."
  variableAddError: "&cCan't add a value to a non-numerical variable."
  variableReduceError: "&cCan't reduce a value from a non-numerical variable."
  commandSetCorrect: "&aVariable &7%variable% &aset to &7%value%&a."
  commandSetCorrectPlayer: "&aVariable &7%variable% &aset to &7%value% &afor player &e%player%&a."
  playerNotOnline: "&cThat player is not online."
  pluginReloaded: "&aPlugin reloaded!"
  commandGetCorrect: "&aVariable &7%variable% &acurrent value is: &7%value%&a."
  commandGetCorrectPlayer: "&aVariable &7%variable% &acurrent value from player &e%player% &ais: &7%value%&a."
  invalidValue: "&cYou must use a valid number value."
  playerNoData: "&cThere is no data for that player."
  commandResetCorrect: "&aVariable &7%variable% &areset."
  commandResetCorrectPlayer: "&aVariable &7%variable% &areset for player &e%player%&a."
  commandResetCorrectAll: "&aVariable &7%variable% &areset for &eall players&a."
  variableLimitationOutOfRangeMax: "&cVariable out of range. Max value is &7%value%"
  variableLimitationOutOfRangeMin: "&cVariable out of range. Min value is &7%value%"
  variableLimitationMaxCharactersError: "&cVariable supports a maximum of &7%value% &ccharacters."
variables:
  lobby_portal_status:
    variable_type: GLOBAL
    value_type: TEXT
    possible_values:
      - "off;&c&lPortal Disabled"
      - "on;&a&lPortal Enabled"
    initial_value: "off"
  player_influence:
    variable_type: PLAYER
    value_type: INTEGER
    initial_value: 0
    limitations:
      min_value: -100
      max_value: 100

